@import './variables';

body {
    margin: 0px;
    font-family: $font;
}

.header {
    width: 100%;
    position: fixed;
    top: 0px;
    opacity: 0.9;
    z-index: 1000;
    background-color: $primary-color;
    box-shadow: 0px 4px 4px #8888;

    &__title {
        margin-left: 10px;

        &--white {
            color: white;
        }
    }
};

.content {
    background-color: $secondary-color;
    margin-top: 60px;
}

.container {
    max-width: 100%;
	margin: 0 auto;
    border: 1px solid #ccc;
    
    &__flex {
        display: flex;
    }
}

.item {
    flex: 1;
    margin: 5px;
	background: $secondary-color;
	text-align: center;
	font-size: 1.5em;
}

.filters {
    padding: 15px;

    &__label {


        &--small {
            font-size: 19px;
        }
    }

    &__input {
        margin: 0px 45px;
        flex: 0 0 100%;
    }
}

.table {
    width: 100%;

    &__data {
        border-bottom: 1px solid black;

        &--red {
            color: red;
        }
    }

    &__footer {
        
        &--left {
            float: left;
        } 

        &--right {
            float: right;
        }
    }
}